# This is an example of a .env file for the server configuration.
# Copy this file to .env and fill in the values as needed.
DB_HOST=
DB_PORT=
DB_USERNAME=  
DB_PASSWORD=
DB_DATABASE=db_TaskList
JWT_SECRET=